config VIDEO_NUC970
	tristate "Nuvoton NUC970/N9H30 Video-In Support"
	depends on I2C && VIDEO_DEV
	select VIDEO_BUF
	select VIDEOBUF_DMA_CONTIG
	---help---
	Support for built-in video-in interface for NUC970/N9H30.
config MAX_DEVICES
	int "Max video device"
	depends on VIDEO_NUC970
	default "2"
	---help---
	MAX_DEVICES set to 1, /dev/video0 support packet
	or planar.
	MAX_DEVICES set to 2, /dev/video0 support packet
	and /dev/video1 support planar at same time.

config MAX_FRAME_BUFFER
	int "Max frame buffer"
	depends on VIDEO_NUC970
	default "3"
config VIDOE_FREQ
	int "Video frequency"
	depends on VIDEO_NUC970
	default "24000000"

choice
	prompt "Nuvoton NUC970/N9H30 Sensor Power Down Pin Selection"
	depends on VIDEO_NUC970
	default SENSOR_PD_PI0
        ---help---
        NUC972 EV-board sensor powerdown pin use PI0.
	NUC977 EV-board sensor powerdown pin use PI2.

config	SENSOR_PD_PI0
	bool "PD_PI0"
        ---help---
        NUC972 EV-board sensor powerdown pin use PI0.
        NUC977 EV-board sensor powerdown pin use PI2.

config SENSOR_PD_PI2
	bool "PD_PI2"
        ---help---
        NUC972 EV-board sensor powerdown pin use PI0.
        NUC977 EV-board sensor powerdown pin use PI2.

endchoice

if !OF
choice
	prompt "Nuvoton NUC970/N9H30 Image Sensor Selection"
	depends on VIDEO_NUC970
	default SENSOR_NT99141

config SENSOR_OV7725
	bool "OV7725"

config SENSOR_OV5640
	bool "OV5640"

config SENSOR_NT99141
        bool "NT99141"

config SENSOR_NT99050
	bool "NT99050"

config SENSOR_TW9912
        bool "TW9912"
endchoice

endif
