##
## NUC970 series I2S API
##
config SND_SOC_NUC970
	tristate "SoC Audio for NUC970 series"
	depends on ARCH_NUC970
	help
	  This option enables support for I2S on the NUC970 SoC.

##
## Boards
##
config SND_SOC_NUC970EVB
	tristate "NUC970 I2S support for demo board"
	depends on SND_SOC_NUC970
	select SND_SOC_NAU8822
	help
	  Select this option to enable audio (I2S) on the
	  NUC970 demoboard.

choice
	prompt "I2S Mode Selection"
	depends on SND_SOC_NUC970EVB
	default SLAVE_MODE

config NUC970_I2S_MASTER_MODE
	bool "Master Mode"

config NUC970_I2S_SLAVE_MODE
	bool "Slave Mode"

endchoice
	