if ARCH_NUC970

config CPU_NUC970
	bool
	select HAVE_CLK_PREPARE
	select HAVE_MACH_CLKDEV
    select COMMON_CLK
	default y
	help
	  Support for NUC970 of Nuvoton MCU

menu "NUC970 Machines"

config MACH_NUC970
	bool "Nuvoton NUC970 Evaluation Board"
	default y
	select CPU_NUC970
	help
	   Say Y here if you are using the Nuvoton NUC970
endmenu

config NUC970_FIQ
    bool "Nuvoton NUC970 FIQ support"
    select FIQ
    ---help---
	  Support FIQ in NUC970. For more information, please refer to NUC970 BSP user's manual.
      
endif
